<form method="post" action="{{ path('importa_cubano_delete', {'id': importa_cubano.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ importa_cubano.id) }}">
    <button class="btn">Delete</button>
</form>
