{% extends 'base.html.twig' %}

{% block title %}New ViaTransportacion{% endblock %}

{% block body %}
    <h1>Create new ViaTransportacion</h1>

    {{ include('via_transportacion/_form.html.twig') }}

    <a href="{{ path('via_transportacion_index') }}">back to list</a>
{% endblock %}
