<form method="post" action="{{ path('condicion_compra_delete', {'id': condicion_compra.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ condicion_compra.id) }}">
    <button class="btn">Delete</button>
</form>
